<div class="score">
  <div *ngIf="score; else noScore">
    {{score.homeResult}}:{{score.awayResult}}
  </div>
  <ng-template #noScore>
    <div *ngIf="away.id === home.id;else newScore">
      X
    </div>
    <ng-template #newScore>
      <div class="scoreInput">
        <input class="input" type="text" placeholder="{{home.name}}" #homeInput style="width:35%">
        <input class="input" type="text" placeholder="{{away.name}}" #awayInput style="width:35%">
        <a class="button is-primary" (click)="storeScore()" style="width:20%">
          OK
        </a>
      </div>
    </ng-template>
  </ng-template>
</div>
