<section class="section">
  <ng-container *ngIf="selectedTournament">
    <div class="container">
      <h1 class="title">{{ selectedTournament.name }}</h1>


      <div class="columns is-mobile">
        <div class="column player">X</div>
        <div class="column player" *ngFor="let player of selectedTournament.players">
          {{player.name}}
        </div>
      </div>
      <div class="columns is-mobile" *ngFor="let player of selectedTournament.players; let columnIndex = index">
        <div class="column player">{{player.name}}</div>
        <div class="column" *ngFor="let player of selectedTournament.players; let rowIndex = index">

          <app-score
            [home]="selectedTournament.players[columnIndex]"
            [away]="selectedTournament.players[rowIndex]"
            [score]="getScore(selectedTournament.players[rowIndex].id, selectedTournament.players[columnIndex].id)">
          </app-score>
        </div>
      </div>

      <div class="control">
        <input #playerName class="input" type="text" placeholder="Player name">
      </div>
      <div class="control">
        <a class="button is-info" (click)="addPlayer()">
          Add player
        </a>
      </div>
    </div>
  </ng-container>
</section>
<section class="section">
  <app-table></app-table>

</section>
<section class="section">
  <footer class="footer">
    <div class="container">
      <a class="button" (click)="goBack()">Back</a>
    </div>
  </footer>
</section>

